<h2>user info</h2>
  <%= form_with model:@user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :profile_image %>
  </div>
  <div>
    <%= f.label :introduction %>
    <%= f.text_field :introduction %>
  </div>
    <%= f.submit 'submit' %>
  <% end %>