<%= form_with model:book,local:true do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
</div>
<%= f.submit 'submit' %>
<% end %>