<h1>Book detail</h1>

<div>
  <p><%= image_tag 'no_image.jpg' %></p>
  <p><%= @book.user.name %></p>
  <p><%= @book.title %></p>
  <p><%= @book.caption %></p>
</div>
<div>
  <% if @book.user == current_user %>
  <%= link_to 'edit', edit_book_path(@book) %>
  <%= link_to 'destroy', @book, method: :delete %>
  <% end %>
</div>